* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/*
    Font families

*/
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

.main {
    display: flex;
    height: 100vh;
}


/*
    Content Components
        .content_header
        .content_footer
*/

.content {
    flex: 0.7;
}

.content_header {
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;

}
.content_header_greeting {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.0322em;
}

.auth {
    outline: none;
    background-color: transparent;
    border: none;

    font-family: Inter;
    font-weight: 500;
    letter-spacing: 0.0322em;
    font-size: 22px;

}

/*
    Sidebar Components
        .sidebar
        #sportsboard
        .nav
*/

.sidebar {
    flex: 0.3;
    background-color: #FF936B33;
    padding-top: 80px;
}

#sportsboard {
    font-family: Inter;
    font-weight: 500;
    color: #FF9670;
    font-size: 42px;
    text-align: center;
    height: 50px;
    padding-bottom: 86px;
    letter-spacing: 0.0322em;

}

.nav {
    list-style: none;
    padding: none;
}

.nav li {
    font-family: Inter;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.0322em;
    font-weight: 500;

    color: #FF9670;
    padding: 20px 0;
    width: 306px;
    height: 70px;
    padding-left: 30px;
    margin-bottom: 15px;
}


/* Only for providing a template for selected option */
#nav_admin {
    background: #FF9670;
    border-radius: 14px;
    color: white;
}